*.pyc
dist/
build/
.venv/
example-input/
__pycache__
*.egg-info/
*.pyo
*.pyd
*.db
*.log
*.sqlite3
*.sqlite
*.egg
*.swp
*.bak
*.tmp
*.DS_Store
*.coverage
*.idea/
*.vscode/
*.pytest_cache/
*.mypy_cache/
*.tox
*.coverage.*